.modal_header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
  margin-bottom: 1rem;
}
.btn_close{
  box-sizing: content-box;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  width: 1.5em;
  height: 1.5em;
  padding: .25em .25em;
  border: 0;
  border-radius: .25rem;
}
.modal_title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
}

.form_control {
  display: block;
  width: 100%;
  min-height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form_control[readOnly] {
  background-color: #e9ecef;
}

.row{
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 20px;
}

@media (max-width: 768px){
  .row{
    grid-template-columns: repeat(2, auto);
  }
}

.wrap_input{
  margin-bottom: 1rem;
}

.modal_footer {
  display: flex;
  justify-content: center;
}
